.body{
font-family: Consolas, Monaco, monospace;
text-align: center;
background-color: #1e2124;
}

.bg{
background-color:#1e2124
}

h3 {
color:white;
margin-left: auto;
margin-right: auto;
text-align: center;
background-color: rgb(238, 64, 64);
font-family:Calibri;
}